@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

body {
  margin: 0;
  background: #000;
  overflow: hidden;
  cursor:default
}

.intro {
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 1;
  opacity: 0;
}

.texto_intro {
  font-family: "News Cycle", sans-serif;
  color: #4bd5ee;
  font-weight: 400;
  letter-spacing: .1em;
}

.historia {
  position: absolute;
  top: 80%;
}

.párrafos {
  position: absolute;
  left: 15%;
  width: 70%;
  z-index: 1;
  transform-origin: 50%;
  transform: perspective(300px) rotateX(20deg);
}

.texto_historia {
  font-family: "News Cycle", sans-serif;
  font-weight: 700;
  color: #ff6;
  text-align: justify;
  letter-spacing: .1em;
  line-height: 1.1em;
}

.botón,.p1,.p2,.back-menu {
    border: 2px solid gray;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
    color: #4bd5ee;
}
.center-img{
  text-align: center;
}
.animación_intro {
  animation: intro 4s ease-out 0s;
}

.animación_historia {
  animation: parrafos 19s linear 4s;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes parrafos {
  0% {
    top: 75%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: -70%;
    opacity: 0;
  }
}