@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
#principal-screen{
    display: flex;
    flex-direction: row;
}
.content{
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: -10px;
    margin-right: -10px;
    text-align:center;
    width: 101%;
    background-image: url(/proyecto1-spaceshipswar/imagenes/background.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#title{
    font-size: 70px;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    color:#ff6;
    margin-top: 220px;
}
#superior-izquierda{
    float: left;
}
#superior-derecha{
    float: right
}

#img-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -35px;
}
#buttons{
    margin-top: -50px;
    display: flex;
    flex-direction: column;
}
#buttons > div > a{
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px 40px;
    margin: 40px;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 2em;
}
#how-to-play{
    margin-top: 25px;
    margin-bottom: -220px;
    color: #ff6;
}
.go-back{
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px 40px;
    margin: 80px;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 2em;
    color: #4bd5ee;

}
ul{
    list-style: none;
}
h2,.players{
    font-size: 30px;
}
li, .hint{
    font-size: 22px;
}

.contenedor-keybord{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}


#modo-juego>a{
    color: #4bd5ee;
}
.instrucciones{
    margin-top: 52px;
}


#game{
    display: flex;
}
#canvasp1{
    float: left;
}
#canvasp2 {
    margin-left: 20px;
    float: right;
}
#options
{
    bottom: 20%;
    left: 5%;
    position: absolute;
    width: 100%;
}

.main-menu{
    color:#ff8000;
}

.restart-p1 {
    color:#ff8000;
}
.restart-p2 {
    color:#ff8000;
}


#options > a {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px 40px;
    margin: 40px;

    text-decoration: none;

    font-family: 'Varela Round', sans-serif;
    font-size: 2em;
}


#options a:visited {
    color:#b94e48;
  }